

.navBarContain{

    height: 50px;
    width: 100%;
    background-color:white;
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;

}

.navBarLeft{
    flex: 3;


}

.navBarCenter{
    flex: 5;

}

.navBarRight{
    width: 230px;
    height: 50px;
    position: absolute;
    flex: 3;
    display: flex;
    background-color: rgb(255, 255, 255);
    top: 0;
    right: 6%;
    justify-content: space-evenly;
    text-align: center;
    
}





.icons {
    font-size: 40px;
    object-fit: cover;
    color: blue;
    margin-left: 13px;
   
}

.icon{
    margin-right: 50px;
}


.navBarCenter{
    height: 60px;
    width: 500px;
    position: absolute;
    left: 490px;
    justify-content: space-evenly;
    align-items: center;
    display: flex;



}

.iconItem{
    color: red;
}

.searchBar {
    width: 0;
    height: 46px;
    background-color: rgb(217, 223, 224);
    margin-left: 115px;
    margin-top: -53px;
    position: relative;
    z-index: 8;
}
#searchInput {
    margin-left: 75px;
    width: 319px;
    height: 31px;
    margin-top: 4px;
    position: absolute;
    border-radius: 14px;
    border-style: none;
    font-family: Roboto Slab;
    font-size: 20px;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f2;
    border-color: #f0f0f2;
    outline: none;    

}

.searchIcon{
    margin-top: 11px;
    margin-left: 90px;
    position: absolute;
    font-size: 26px;
}

.rightIcon{
    margin-top: 10px;
}


#profileImg{
    width: 48px;
    height: 48px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 8px;
    cursor: pointer;
    margin-top: 3px;
} 

